<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Tomato Disease Detection</h1>
    </header>
    <main>
        <section id="intro">
            <h2 style="color: black;">Welcome to the Tomato Disease Detection Website</h2>
            <p>Learn about common diseases that affect tomato plants and how to detect them using leaf images.</p>
        </section>
        <section id="upload">
            <h2 style="color: black;">Upload an Image</h2>
            <form action="/" method="post" enctype="multipart/form-data">
                <label for="imageInput">Choose a Leaf Image:</label>
                <input type="file" id="imageInput" name="file" accept="image/*" onchange="previewImage(event)">
                <div id="imagePreview"></div>
                <input type="submit", name="form" class="button">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Tomato Disease Detection</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>