<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Yellow Leaf Curl Virus (TYLCV)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
</head>
<body>
    <div class="container">
    <h1>Your Image</h1>
    <img id="image" src="data:image/jpeg;base64,{{ image }}" alt="Image">
    <h1>And Your Tomato leaf image belonging to Tomato Yellow Leaf Curl Virus (TYLCV).</h1>
    
    <h2>What is it?</h2>
    <p>
        Tomato Yellow Leaf Curl Virus (TYLCV) is a viral disease that affects tomato plants. 
        It is transmitted by the whitefly, an insect that feeds on the sap of tomato plants. 
        Symptoms of TYLCV include yellowing and upward curling of the leaves, stunted growth, and reduced fruit production. 
        Severe infections can lead to significant yield losses.
    </p>

    <h2>Why does it occur?</h2>
    <p>
        Tomato Yellow Leaf Curl Virus is primarily spread by the whitefly, which feeds on infected plants and then transmits the virus to healthy plants. 
        Warm temperatures and high humidity favor the development and spread of the virus, making it more prevalent in tropical and subtropical regions.
    </p>

    <h2>Prevention:</h2>
    <ul>
        <li>Use Virus-Free Transplants: Start with healthy, virus-free tomato transplants obtained from reputable sources.</li>
        <li>Control Whiteflies: Monitor for whitefly populations and use insecticides or biological control methods to manage their numbers.</li>
        <li>Remove Infected Plants: Promptly remove and destroy any plants showing symptoms of Tomato Yellow Leaf Curl Virus to prevent further spread.</li>
        <li>Plant Resistant Varieties: Choose tomato varieties that are resistant to TYLCV if available.</li>
        <li>Use Reflective Mulch: Reflective mulches can deter whiteflies and reduce virus transmission.</li>
        <li>Practice Crop Rotation: Rotate tomatoes with unrelated crops to disrupt the whitefly life cycle and reduce the buildup of the virus in the soil.</li>
    </ul>

    <h2>Treatment:</h2>
    <p>
        Unfortunately, there is no cure for Tomato Yellow Leaf Curl Virus. 
        Infected plants should be removed and destroyed to prevent the spread of the virus to healthy plants.
    </p>
    </div>
</body>
</html>
