<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Tomato Leaves</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
</head>
<body>
    <div class="container">
    <h1>Your Image</h1>
    <img id="image" src="data:image/jpeg;base64,{{ image }}" alt="Image">
    <h1>And Your Tomato leaf image showing healthy foliage.</h1>
    
    <h2>What are Healthy Tomato Leaves?</h2>
    <p>
        Healthy tomato leaves are characterized by their vibrant green color, uniform appearance, and absence of any noticeable lesions, spots, or discoloration. 
        They are usually firm and turgid, with a glossy or waxy texture on the upper surface.
    </p>

    <h2>Why are they important?</h2>
    <p>
        Healthy tomato leaves are essential for the plant's overall growth, vigor, and productivity. 
        They play a vital role in photosynthesis, the process by which plants convert light energy into chemical energy, which is necessary for growth and fruit production. 
        Additionally, healthy foliage helps plants resist environmental stresses and pest attacks, contributing to higher yields and better-quality fruits.
    </p>

    <h2>How to Maintain Healthy Tomato Leaves?</h2>
    <ul>
        <li>Provide Adequate Water: Ensure consistent watering to prevent drought stress, but avoid overwatering, which can lead to root rot and other diseases.</li>
        <li>Proper Nutrition: Supply tomatoes with balanced fertilizer to meet their nutritional needs, especially during periods of rapid growth.</li>
        <li>Control Pests and Diseases: Monitor plants regularly for signs of pests and diseases, and take prompt action if detected to prevent damage to the foliage.</li>
        <li>Pruning: Remove lower leaves that may come into contact with the soil to reduce the risk of fungal infections.</li>
        <li>Good Air Circulation: Provide adequate spacing between plants to promote airflow and reduce humidity, which can help prevent foliar diseases.</li>
        <li>Protect from Extreme Conditions: Shield plants from extreme temperatures, strong winds, and excessive sunlight to prevent stress and sunburn.</li>
    </ul>

    <h2>Conclusion:</h2>
    <p>
        Maintaining healthy tomato leaves is crucial for ensuring robust plant growth and optimal fruit production. 
        By providing proper care, monitoring for pests and diseases, and creating favorable growing conditions, you can help your tomato plants thrive and produce abundant, high-quality fruit.
    </p>
    </div>
</body>
</html>
