<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Early Blight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
</head>
<body>
    <div class="container">
    <h1>Your Image</h1>
    <img id="image" src="data:image/jpeg;base64,{{ image }}" alt="Image">
    <h1>And Your Tomato leaf image belonging to disease Tomato Early Blight.</h1>
    
    <h2>What is it?</h2>
    <p>
        Tomato Early Blight is a fungal disease caused by the fungus <i>Alternaria solani</i>. 
        It appears as dark, concentric rings with a target-like appearance on the leaves. 
        This disease usually starts at the bottom of the plant and works its way up, causing defoliation if severe.
    </p>

    <h2>Why does it occur?</h2>
    <p>
        Tomato Early Blight is favored by warm, humid conditions. 
        The fungus can survive in plant debris and soil and infects the plants through splashing water, wind, or contaminated tools.
    </p>

    <h2>Prevention:</h2>
    <ul>
        <li>Plant Resistant Varieties: Choose tomato varieties that are resistant to early blight if available in your area.</li>
        <li>Crop Rotation: Rotate tomatoes with unrelated crops to reduce the buildup of fungal spores in the soil.</li>
        <li>Avoid Overhead Watering: Water the plants at the base to avoid wetting the foliage, which can help prevent the spread of spores.</li>
        <li>Remove Infected Plant Debris: Clean up and remove any infected plant debris from the garden to reduce the source of fungal spores.</li>
        <li>Apply Mulch: Mulching around the plants can help prevent soil splashback onto the foliage.</li>
        <li>Prune Lower Leaves: Remove lower leaves that may come into contact with the soil to reduce the risk of infection.</li>
    </ul>

    <h2>Treatment:</h2>
    <p>
        While there's no cure for Tomato Early Blight, you can take steps to manage the disease:
    </p>
    <ul>
        <li>Remove Infected Leaves: Prune and remove infected leaves to prevent the spread of the disease.</li>
        <li>Fungicidal Sprays: Apply fungicides containing chlorothalonil or copper to help control the spread of the fungus. Follow label instructions carefully.</li>
        <li>Improve Air Circulation: Proper spacing between plants and adequate ventilation can help reduce humidity and minimize fungal growth.</li>
        <li>Avoid Water Stress: Maintain consistent watering practices to keep the plants healthy and less susceptible to disease.</li>
        <li>Monitor Regularly: Regularly inspect tomato plants for signs of early blight and take prompt action if symptoms appear.</li>
    </ul>
    </div>
</body>
</html>
