<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Spider Mites (Two-spotted Spider Mite)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
</head>
<body>
    <div class="container">
    <h1>Your Image</h1>
    <img id="image" src="data:image/jpeg;base64,{{ image }}" alt="Image">
    <h1>And Your Tomato leaf image belonging to the Two-spotted Spider Mite infestation.</h1>
    
    <h2>What are they?</h2>
    <p>
        Two-spotted Spider Mites, also known as Tetranychus urticae, are tiny arachnids that feed on the sap of tomato plants. 
        They are usually reddish-brown or yellowish in color and are barely visible to the naked eye. 
        Spider mites often create fine webbing on the undersides of leaves, which can indicate their presence.
    </p>

    <h2>Why do they occur?</h2>
    <p>
        Two-spotted Spider Mites thrive in hot, dry conditions and can reproduce rapidly under these conditions. 
        They often infest tomato plants when the weather is warm and the foliage is dry, sucking out plant juices and causing damage.
    </p>

    <h2>Prevention:</h2>
    <ul>
        <li>Monitor Plants: Regularly inspect tomato plants for signs of spider mite infestation, including stippling on leaves and fine webbing on the undersides.</li>
        <li>Provide Adequate Watering: Maintain consistent watering practices to prevent drought stress, which can make plants more susceptible to spider mites.</li>
        <li>Use Mulch: Apply mulch around tomato plants to conserve soil moisture and create a less favorable environment for spider mites.</li>
        <li>Introduce Predators: Encourage natural predators of spider mites, such as ladybugs and predatory mites, to help control infestations.</li>
        <li>Avoid Over-Fertilization: Excessive nitrogen fertilization can stimulate spider mite reproduction, so use fertilizers judiciously.</li>
    </ul>

    <h2>Treatment:</h2>
    <p>
        While it can be challenging to completely eradicate Two-spotted Spider Mites, you can take steps to manage their populations:
    </p>
    <ul>
        <li>Prune Infested Leaves: Remove heavily infested leaves and dispose of them to reduce spider mite numbers.</li>
        <li>Use Water: Spraying plants with a strong stream of water can help dislodge spider mites and their webs.</li>
        <li>Apply Insecticidal Soap: Insecticidal soaps can be effective against spider mites when applied directly to the pests. Follow label instructions carefully.</li>
        <li>Neem Oil: Neem oil can also be used to control spider mites by suffocating them and disrupting their feeding. Apply according to package instructions.</li>
        <li>Repeat Treatments: Spider mites can reproduce quickly, so repeat treatments may be necessary to keep populations in check.</li>
    </ul>
</div>
</body>
</html>
